* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 50px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

header .logo img {
    height: 150px;
    margin-left: 50px;
}

header .navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
}

header nav a {
    color: #ff914d;
    text-decoration: none;
}

header nav li {
    display: inline;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10%;
    font-family: "Oswald", sans-serif;
}

header nav li:hover {
    background-color: #03224c;
    transition: 0.6s;
}


.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 170px;
}

.slides {
    display: none;
    height: 500px;
    width: 100%;
}

.slides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(80%);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Oswald", sans-serif;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    bottom: 25.6%;
}

.text p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: left;
    width: 50%;
    margin-left: auto;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.dots {
    text-align: center;
}


.dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
}

.active, .dot:hover {
      background-color: #717171;
}

.fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
}

@-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

hr{
    height: 1px;
    width: 45%;
    margin: 30px auto;
    
} 

.presentation {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.presentation h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

.presentation img {
    max-width: 700px; 
    max-height: 600px;
    object-fit: cover;
}

.presentation .who p {
    margin: 30px 20%;
    line-height: 25px;
}

.presentation .competence {
    margin: 30px 5px;
    max-width: 500px;
    height: 700px;
}

.banner{
    position: relative;
    margin-top: 170px;
    text-align: center;
}

.banner .textContact{
    position: absolute;
    top: 20px;
    left: 10%;
    color: white;
}

.banner .textContact h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: ivory;
}

.banner img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
}

#contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    width: 400px;
    margin: 10px 0;
    padding: 10px ;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    margin-top: 10px;
    font: 700 12px 'Montserrat', sans-serif;
    letter-spacing: 2px;
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    text-align: left;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
  }
  
  .list-item {
    line-height: 4;
    color: rgb(0, 0, 0);
    width: 400px;
  }
  
  .contact-text {
    font: 300 16px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: rgb(0, 0, 0);
  }

  
  .contact-text a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #ff914d;
    text-decoration: none;
  }
  
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 10px auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

footer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

footer .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 100px;
    text-align: center;
}

footer .footer-top a {
    text-decoration: none;
}

footer .logo img{
    height: 200px;
    width: 200px;
}

footer h3 {
    font-family: "Oswald", sans-serif;
}

